.image-item {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  background: #000;

  img {
    width: 100%;
    height: 100%;
    border: 0;
    display: block;
    object-fit: cover;
    aspect-ratio: 1 / 1;
  }
}

.image-list-5 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  width: 100%;

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.image-list-3 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  width: 100%;

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.image-board-item {
  display: inline-block;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    border: 0;
    display: block;
  }
}

.image-board {
  column-count: 1;
  column-gap: 20px;
  padding: 20px;
  width: 100%;

  @media (min-width: 768px) {
    column-count: 2;
    gap: 30px;
  }

  @media (min-width: 1200px) {
    column-count: 3;
  }
}